@import "/src/assets/css/reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 100vh; /* 기본값으로 100vh 설정 */
  background-color: #fbfbfb; /* 원하는 배경색 */
}

body {
  position: relative;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  max-width: 480px;
  margin: 0 auto;
  padding: 0;
  /* --vh를 사용하여 높이 계산 */
  height: calc(var(--vh, 1vh) * 100);
}

body #root {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
